@charset "UFT-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-rifs;
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 0vw;
}

a {
    background-color: rgb(29, 28, 28);
    text-align: center;
    text-decoration-line: none;
    color: white;
    display: block;
    padding: 10px;
    font-weight: bolder;
}

a:hover {
    background-color: black;
    text-decoration: underline;
}

img {
    width: 100vw;
        
}

 