@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    #burguer {
        display: none;
    }

    menu#itens {
        display: inline-block ;
        margin-top: 30px;
    }

    nav {
        display: inline;
    }

    #nav1, #nav2, #nav3, #nav4, #nav5 {
        font-size: 1em;
        
      
    }
    
